{% extends 'vertical/base.html' %}
{% load static %}

{% block nav_content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Konten Aplikasi</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tabel Statistik</a></li>
                        <li class="breadcrumb-item active">Indikator</li>
                    </ol>
                </div>
                <h4 class="page-title">Indikator Statistik</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
{% endblock nav_content %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-primary alert-dismissible d-none" id="alertDelMultiple" role="alert">
            Anda dapat menghapus <span id="countData"></span> data terpilih? <a href="javascript: void(0);" class="alert-link" id="submitMultiple">Hapus Data</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
       
    </div>
</div>

<div class="row d-none" id="input-card">
    <div class="col-12">  
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <a href="javascript: void(0);" id="add-form-close" class="btn btn-danger mb-2"><i class="mdi mdi-file-table-box-multiple me-2"></i> Indikator Data</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <form method="POST" action="{% url 'backend:backend-subjs' %}" class="needs-validation" id="subjects-form" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="mb-3">
                                <label for="{{form.name.id_for_label}}" class="form-label">{{form.name.label}}</label>
                                {{form.name}}
                                <div class="invalid-feedback" id="msg-{{form.name.id_for_label}}">
                                    Subject data harus diisi (required)
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="{{form.subject_group.id_for_label}}" class="form-label">{{form.subject_group.label}}</label>
                                {{form.subject_group}}
                            </div>
                            <div class="invalid-feedback" id="msg-{{form.subject_group.id_for_label}}">
                            </div>

                            <div class="mb-3">
                                <label for="{{form.show_state.id_for_label}}" class="form-label">{{form.show_state.label}}</label> <br>
                                {{form.show_state}}
                            </div>
                            <div class="invalid-feedback" id="msg-{{form.show_state.id_for_label}}">
                            </div>

                            <input type="hidden" name="submit">
                            <input type="submit" value="Save" data-btn='save' class="btn btn-primary btn-submit">
                            <input type="submit" value="Save and add another" data-btn='save-add' class="btn btn-primary btn-submit" >
                            <input type="submit" value="Save and continue editing" data-btn='save-edit' class="btn btn-primary btn-submit">
                        </form>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<div class="row" id="preview-card">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="javascript:void(0);" class="btn btn-danger mb-2" id="add-form-open"><i class="mdi mdi-plus-circle me-2"></i> Tambah Indikator</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-refresh"></i></button>
                            <a type="button" href="{% url 'backend:backend-indicators-export' %}" class="btn btn-light mb-2">Export</a>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap" id="indicators-datatable">
                        <thead class="table-light">
                            <tr>
                                <th class="all">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkAll">
                                        <label class="form-check-label" for="selectAll">&nbsp;</label>
                                    </div>
                                </th>
                                <th>No</th>
                                <th>Subjek</th>
                               
                                <th>Nama Indikator</th>
                                <th>Kategori Statistik</th>
                                <th>Periode Data</th>
                                <th>Tampilkan</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>



{% endblock content %}


{% block js-extender %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    'use strict'

    var valsId = []

    var swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary'},
        buttonsStyling: true
    })

    var table = $("#indicators-datatable").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'backend:backend-indicators-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
        },
        columns :[
            {"data" : 'checkbox'},
            {"data" : 'no'},
            {"data" : 'subject_id'},
            {"data" : 'name'},
            {"data" : 'stat_category'},
            {"data" : 'time_period_id'},
            {"data" : 'show_state'},
            {"data" : 'actions'},
        ],
        lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, 'All']],
        order: [[2, 'asc']],
        columnDefs: [
         {
            'targets': [0], /* column index */
            'orderable': !1, /* true or false */             
        },    
        ],
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");

            if (valsId.length > 0) {
                $('input[name="select"]').each(function () {
    
                        var sThisVal = $(this).val();
                        if (valsId.includes(sThisVal)) 
                            $(this).prop('checked', true)
                });
            }
        },
    });

</script>

<script>
    function pushValue(e){

        if (!valsId.includes($(e).val())){
            valsId.push(String($(e).val()));
        } else{
            valsId = valsId.filter(item => item !== $(e).val())
        }

        if (valsId.length > 0) {
            $('#countData').html(valsId.length)
            $('#alertDelMultiple').removeClass('d-none')
        }else{
            $('#alertDelMultiple').addClass('d-none')
        }
    }

    function switchState(e){
        $.ajax({
            url: '{% url 'backend:backend-indicator-switch' %}',
            type: "POST",
            dataType: "json",
            data : {
                'id' : $(e).attr('data-id'),
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
                if (data.status == 'success'){
                    push_notif("Sucess!", data.message, "success") 
                    table.ajax.reload();
                }else{
                    push_notif("Something wrong!", data.message, "error") 
                    table.ajax.reload();
                }
            },
            error: (error) => {
                push_notif("Something wrong!", error, "danger") 
            }
        });
   } 

    function updateIndicator(e){
        $.ajax({
            url: '{% url 'backend:backend-indicator-detail' %}',
            type: "POST",
            dataType: "json",
            data : {
                'id' : e
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
                for (const [key, value] of Object.entries(data.instance)) {
                    $('#id_'+key).val(value)
                }
                $('#input-card').removeClass('d-none')
                $('#preview-card').addClass('d-none')
            },
            error: (error) => {
                console.log(error);
            }
        });
    }

    function deleteIndicator(e){

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus data indikator?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'backend:backend-indicator-delete' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'id' : e
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (data) => {
                        if (data.status == 'success'){
                            push_notif("Sucess!", data.message, "success") 
                            table.ajax.reload();
                        }else{
                            push_notif("Something wrong!", data.message, "error") 
                            table.ajax.reload();
                        }
                    },
                    error: (error) => {
                        push_notif("Something wrong!", error, "danger") 
                    }
                });
            }
        }) 
    }
    
    function resetForm(){
        $("#indicators-form")[0].reset()
        $("#indicators-form").removeClass('was-validated')
        $("#id_id").val("")
    }

    $('#redraw-table').on('click', function (){
        table.draw();
    })

    $('#add-form-open').on('click', function (){
        $('#input-card').removeClass('d-none')
        $('#preview-card').addClass('d-none')

        $('#indicators-form').attr('action', "{% url 'backend:backend-indicators' %}")
        resetForm()
    })

    $('#add-form-close').on('click', function (){
        $('#input-card').addClass('d-none')
        $('#preview-card').removeClass('d-none')
        
    })

</script>

<script>
    
    $(".btn-submit").on("click", function (e){
        e.preventDefault()
        var btn_ctrl = $(this).attr('data-btn')
        $('input[name=submit]').prop('value', btn_ctrl)
        $("#indicators-form").submit()
    })

    $("#indicators-form").on("submit", function (e){
        e.preventDefault()
         
        var btn_act = $('input[name=submit]').val()
        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'post',
            url: $(this).attr('action'),
            data: serializedData,
            
            success: function (response) {
                if(btn_act == 'save'){
                    resetForm()
                    $('#input-card').addClass('d-none')
                    $('#preview-card').removeClass('d-none')
                }else if(btn_act == 'save-add'){
                    resetForm()
                }else{
                    $("#indicators-form").removeClass('was-validated')
                }
                push_notif("Sucess!", response.message, "success") 
                table.ajax.reload();
            },

            error: function (response) {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        })

    })

    $("#checkAll").change(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);

        if (this.checked) {
            $('input[name="select"]').each(function () {
                if (!valsId.includes($(this).val())) 
                    valsId.push(String($(this).val()));
            });
        }else{
            $('input[name="select"]').each(function () {
                valsId = valsId.filter(item => item !== $(this).val())
            });
        }

        if (valsId.length > 0) {
            $('#countData').html(valsId.length)
            $('#alertDelMultiple').removeClass('d-none')
        }else{
            $('#alertDelMultiple').addClass('d-none')
        }
    });

    $('#submitMultiple').click(function (){
                
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus " + valsId.length + " data?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '{% url 'backend:backend-indicator-multiple-delete' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'valsId' : valsId
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (response) => {
                        $('#alertDelMultiple').addClass('d-none')
                        if (response.status == 'success'){
                            push_notif("Sucess!", response.message, "success") 
                            table.ajax.reload();
                        }else{
                            push_notif("Something wrong!", response.message, "error") 
                            table.ajax.reload();
                        }
                        valsId = []
                    },
                    error: (error) => {
                        push_notif("Something wrong!", error, "danger") 
                    }
                });
            }
        }) 
    })

</script>
{% endblock js-extender %}