{% extends 'vertical/base.html' %}
{% load static %}

{% block nav_content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Konten Aplikasi</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tabel Statistik</a></li>
                    <li class="breadcrumb-item active">Indikator</li>
                </ol>
            </div>
            <h4 class="page-title">Indikator Statistik</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 
{% endblock nav_content %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-primary alert-dismissible d-none" id="alertDelMultiple" role="alert">
            Anda dapat menghapus <span id="countData"></span> data terpilih? <a href="javascript: void(0);" class="alert-link" id="submitMultiple">Hapus Data</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
       
    </div>
</div>

<div class="row" id="preview-card">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <a href="javascript:void(0)" id="input-table" class="btn btn-primary mb-3"><i class="mdi mdi-plus"></i> Pilih Tabel Statistik</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i></button>
                            <a type="button" href="{% url 'backend:backend-content-export' %}" class="btn btn-light mb-2">Export</a>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap" id="content-datatable">
                        <thead class="table-light">
                            <tr>
                                <th class="all">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkAll">
                                        <label class="form-check-label" for="selectAll">&nbsp;</label>
                                    </div>
                                </th>
                                <th>No</th>
                                <th>Subjek</th>
                                <th>Tabel/Indikator</th>
                                <th>Tahun</th>
                                <th>Periode Data</th>
                                <th>Dibuat</th>
                                <th>Diupdate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>


<div class="modal fade" id="select-table-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'backend:backend-content-input' %}" method="GET" class="needs-validation" name="event-form" id="form-prepare-content" novalidate="">
                <div class="modal-header py-3 px-4 border-bottom-0">
                    <h5 class="modal-title text-secondary" id="modal-title">Pilih Indikator/Tabel Statistik</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4 pb-4 pt-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="control-label form-label">Subjek Statistik</h1></label>
                                <select class="form-select" name="subject_id" id="subject_id" required="">
                                    <option value="" selected>Pilih Subjek</option>
                                    {% for dt in subjects %}
                                       
                                        {% if data_indicator.subject_id.id == dt.id %}
                                        <option value="{{dt.id}}" selected>{{dt.name}} <i class="mdi mdi-plus"></i></option>
                                        {% else %}
                                        <option value="{{dt.id}}">{{dt.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Indikator/Tabel statistik harus terisi</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="control-label form-label">Nama Indikator</label>
                                <select class="form-select" name="indicator_id_select" id="indicator_id_select" required="">
                                    <option value="" selected>Pilih Indikator</option>
                                    {% for dt in indicators %}
                                       
                                    {% if data_indicator.id == dt.id %}
                                    <option value="{{dt.id}}" selected>{{dt.name}}</option>
                                    {% else %}
                                    <option value="{{dt.id}}">{{dt.name}}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <div class="invalid-feedback">Indikator/Tabel statistik harus terisi</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="control-label form-label">Tahun</label>
                                <select class="form-select" name="year" id="year" required="">
                                    <option value="" selected="">Pilih Tahun</option>
                                    {% for year_ in years %}
                                        {% if current_year == year_ %}
                                        <option value="{{year_}}" selected>{{year_}}</option>
                                        {% else %}
                                        <option value="{{year_}}">{{year_}}</option>
                                        {% endif %}

                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Tahun harus terisi</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="control-label form-label">Turunan Tahun</label>
                                <select class="form-select" name="periode_id" id="periode_id" required="">
                                    <option value="" selected="">Pilih Turunan Tahun</option>
                                    {% for period_item in period_items %}
                                        {% if period.id == period_item.id %}
                                        <option value="{{period_item.id}}" selected>{{period_item.item_period}}</option>
                                        {% else %}
                                        <option value="{{period_item.id}}">{{period_item.item_period}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Periode Turunan Tahun harus terisi</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="btn-save-event">Pilih Data</button>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>

{% endblock content %}


{% block js-extender %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    'use strict'

    var valsId = []

    var swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary'},
        buttonsStyling: true
    })

    var table = $("#content-datatable").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'backend:backend-content-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
        },
        columns :[
            {"data" : 'checkbox'},
            {"data" : 'no'},
            {"data" : 'indicator_id__subject_id__name'},
            {"data" : 'indicator_id__name'},
            {"data" : 'year'},
            {"data" : 'indicator_id__time_period_id__name'},
            {"data" : 'created_at'},
            {"data" : 'updated_at'},
            {"data" : 'actions'},
        ],
        lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, 'All']],
        order: [[2, 'asc']],
        columnDefs: [
         {
            'targets': [0], /* column index */
            'orderable': !1, /* true or false */             
        },    
        ],
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");

            if (valsId.length > 0) {
                $('input[name="select"]').each(function () {
    
                        var sThisVal = $(this).val();
                        if (valsId.includes(sThisVal)) 
                            $(this).prop('checked', true)
                });
            }
        },
    });

</script>

<script>
    function pushValue(e){

        if (!valsId.includes($(e).val())){
            valsId.push(String($(e).val()));
        } else{
            valsId = valsId.filter(item => item !== $(e).val())
        }

        if (valsId.length > 0) {
            $('#countData').html(valsId.length)
            $('#alertDelMultiple').removeClass('d-none')
        }else{
            $('#alertDelMultiple').addClass('d-none')
        }
    }

    function deleteContent(e){

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus data tabel?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'backend:backend-content-delete' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'indicator_id' : $(e).attr('data-indicator_id'),
                        'year' : $(e).attr('data-year'),
                        'item_period' : $(e).attr('data-item_period'),
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (data) => {
                  
                        if (data.status == 'success'){
                            push_notif("Sucess!", data.message, "success") 
                            table.ajax.reload();
                        }else{
                            push_notif("Something wrong!", data.message, "error") 
                            table.ajax.reload();
                        }
                    },
                    error: (error) => {

                        push_notif("Something wrong!", error, "danger") 
                    }
                });
            }
        }) 
    }

    $('#redraw-table').on('click', function (){
        table.draw();
    })

</script>

<script>

    $("#checkAll").change(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);

        if (this.checked) {
            $('input[name="select"]').each(function () {
                if (!valsId.includes($(this).val())) 
                    valsId.push(String($(this).val()));
            });
        }else{
            $('input[name="select"]').each(function () {
                valsId = valsId.filter(item => item !== $(this).val())
            });
        }

        if (valsId.length > 0) {
            $('#countData').html(valsId.length)
            $('#alertDelMultiple').removeClass('d-none')
        }else{
            $('#alertDelMultiple').addClass('d-none')
        }
    });

    $('#submitMultiple').click(function (){
                
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus " + valsId.length + " data?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '{% url 'backend:backend-content-multiple-delete' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'valsId' : valsId
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (response) => {
                        $('#alertDelMultiple').addClass('d-none')
                        if (response.status == 'success'){
                            push_notif("Sucess!", response.message, "success") 
                            table.ajax.reload();
                        }else{
                            push_notif("Something wrong!", response.message, "error") 
                            table.ajax.reload();
                        }
                        valsId = []
                    },
                    error: (error) => {
                        push_notif("Something wrong!", error, "danger") 
                    }
                });
            }
        }) 
    })

    $('#input-table').on('click', function (e){
        $('#select-table-modal').modal('show')
    })

    $('#subject_id').on('change', function (e){
        
        $.ajax({
            url: '{% url 'backend:backend-content-input' %}',
            type: "POST",
            dataType: "json",
            data : {
                'subject_id' : $(this).val()
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
                if (data.status == 'success'){
                    $('#indicator_id_select').html('')
                    $('#indicator_id_select').html(data.instance)
                }else{
                    $('#indicator_id_select').html(data.instance)
                    push_notif("Something wrong!", data.message, "error");
                }
            },
            error: (error) => {
                push_notif("Something wrong!", error.message, "error");
            }
        });
    })
    
    $('#indicator_id_select').on('change', function (e){
        
        $.ajax({
            url: '{% url 'backend:backend-content-input' %}',
            type: "POST",
            dataType: "json",
            data : {
                'indicator_id' : $(this).val()
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
                if (data.status == 'success'){
                    $('#periode_id').html('')
                    $('#periode_id').html(data.instance)
                }else{
                    $('#periode_id').html(data.instance)
                    push_notif("Something wrong!", data.message, "error");
                }
            },
            error: (error) => {
                push_notif("Something wrong!", error.message, "error");
            }
        });
    })
    
    $('#content-form-submit').on('submit', function (e){

        e.preventDefault()

        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'post',
            url: $(this).attr('action'),
            data: serializedData,
            success: function (response) {

                if (response.status == 'success'){
                    push_notif("Sucess!", response.message, "success")
                    
                    $('#edit-data-content').removeClass('d-none')
                    $('#delete-data-content').removeClass('d-none')

                    $('.data-input-content').attr('disabled', 'disabled')
                    $('#alertStatusInput .content-alert').html(response.message)
                    $('#alertStatusInput').removeClass('d-none')
                }else{
                    push_notif("Something wrong!", response.message, "error")
                }
            },

            error: function (response) {
                push_notif("Something wrong!", response.message, "error") 
            }
        })
    })

</script>
{% endblock js-extender %}