{% extends 'horizontal/home_app.html' %}
{% load static %}

{% block css-extender%}
<link href="http://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet" />
<link href="http://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet"/>

<style>
  input,
  input::placeholder {
    font-size: 14px;
  }

  datalist {
    position: absolute;
    margin-top: 10px;
    width: 25em !important;
    max-height: 19em;
    border: 1px solid #dfdfdf;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
  }

  datalist option {
    font-color: #f0f2f5;
    font-size: 0.9em;
    padding: 0.4em 3em;
    cursor: pointer;
  }

  /* option active styles */
  datalist option:hover,
  datalist option:focus {
    background-color: #f8f8f8;
    outline: 0 none;
  }

  .nav-pills > li > a.active {
    background-color: #FA5C7C !important;
  }

</style>
{% endblock css-extender %}

{% block main-content %}

<!-- START HERO -->
<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mt-4">
        <div class="">
          <div>
            <span class="badge bg-danger rounded-pill">Baru</span>
            <span class="text-white-50 ms-1">Selamat datang di portal Satu Data Muna</span>
          </div>
          <h2 class="text-white fw-normal mb-4 mt-3 hero-title">
            Telusuri Data Statistik Kabupaten Muna
          </h2>
          <p class="pr-2 mb-4 font-16 text-white-50">
            <span class="text-white fw-normal">SDM</span> merupakan wujud
            sinergi dan kolaborasi bersama antara BPS Kab. Muna selaku penyedia
            layanan data dan berbagai Dinas OPD selaku stakeholder penyedia data
            statistik sektoral.
          </p>

          <div class="row align-items-center">
            <div class="col-lg-12 d-flex justify-content-center">
              <div class="app-search dropdown ml-5">
                <form action="{% url 'app:search-app' %}" method="get">
                  <div class="row gy-2 gx-2 align-items-center">
                    <div class="col-auto px-0">
                      <input class="form-control" list="browserdata" id="browser" name="browser" placeholder="Filter Data" autocomplete="off" style=" width: 120px; height: 50px; background-color: #ffffff; padding-left: 20px; border: 0; border-radius: 5px;"/>
                      <datalist id="browserdata">
                        <span style="font-size: 0.9em;font-weight: bold;padding: 0.4em 1.5em;">All</span>
                        <br>
                        {% for dt in subjects %}
                          {% if dt.items|length > 0 %}
                            <span style=" font-size: 0.9em; font-weight: bold; padding: 0.4em 1.5em;">
                              <span class="text-warning fw-bold" style="font-size: 18px" ><i class="mdi mdi-minus"></i></span>
                              {{dt.groups}}
                            </span>
                            <br>
                            {% for dt_item in dt.items %}
                              <option value="{{dt_item.item}}">
                                {{dt_item.item}}
                              </option>
                            {% endfor %}
                          {% endif %} 
                        {% endfor %}
                      </datalist>
                    </div>
                    <div class="col-auto">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Telusuri data statistik ..." id="top-search-mitra" autocomplete="off" style="width: 420px;height: 50px;background-color: #ffffff;border-radius: 5px;"/>
                        <span class="mdi mdi-magnify search-icon" style="margin-top: 5px"></span>
                      </div>
                    </div>
                    <div class="col-auto mt-2 px-0">
                      <button class="btn btn-danger rounded" type="submit" style="height: 47px" id="button-top-search">
                        Telusuri Data
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="text-md-end mt-1">
          <img
            src="{% static 'app-design/assets/images/startup.svg' %}"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HERO -->

<section class="pb-4" style="margin-top: -45px">
  <div class="container">
    <div class="row align-items-center">
      <div class="slick-items" >
        {% for item in items_summarize %}
          <div class="card widget-flat py-2 mx-1 {% if item.tag_state is True %}ribbon-box{% endif %}" style="box-shadow:none">
            <div class="card-body">
              {% if item.tag_state is True %}
                <div class="ribbon {{item.color_tag|safe}} float-start" style="margin-top:-25px">{{item.tag|safe}}</div>
              {% endif %}
              <div {% if item.tag_state is True %}style="margin-top:26px"{% endif %}>
                <div class="float-end" style="font-size:30px">
                  <i class="mdi mdi-pulse widget-icon"></i>
                </div>
                <h5 class="mt-0 fw-normal">{{item.title}}</h5>
                <div class="mt-3" style="margin-bottom:20px">
                  <h3 class="d-inline me-1">{{item.value}}</h3>
                  <span style="font-size:18px">({{item.unit_id}})</span>
                </div>
                <p class="mb-0 text-muted">
                  <span class="text-nowrap">{{item.item_period}} {{item.year}}</span>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
  </div>
</section>

<section class="py-3 bg-light-lighten border-top border-bottom border-light">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-12">
        <div class="text-left">
          <h3>
            Portal Satu Data Muna
            <span class="text-warning">__________________</span>
          </h3>
          <h2 class="text-primary mt-3">
            Statistik Satu Data Tingkat Kabupaten Muna
          </h2>
        </div>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-xl-3 col-lg-6">
        <div class="card bg-primary py-3">
          <div class="card-body">
            <div class="text-center text-white">
              <h2>1.520</h2>
              <p class="mb-0" style="font-size: 23px">Data Statistik</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card bg-primary py-3">
          <div class="card-body">
            <div class="text-center text-white">
              <h2>10</h2>
              <p class="mb-0" style="font-size: 23px">Indikator Strategis</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card bg-primary py-3">
          <div class="card-body">
            <div class="text-center text-white">
              <h2>35</h2>
              <p class="mb-0" style="font-size: 23px">Media Statistik</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card bg-primary py-3">
          <div class="card-body">
            <div class="text-center text-white">
              <h2>100.231</h2>
              <p class="mb-0" style="font-size: 23px">Layanan Statistik</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="container">
    <div class="row pt-4">
      <div class="col-lg-12">
        <div class="text-left">
          <h3>Topik Data <span class="text-warning">_________</span></h3>
          <h2 class="text-muted mt-3">
            Telusuri Data Menurut Subjek Statistik
          </h2>
        </div>
      </div>
    </div>

    <div class="row mt-2 py-4 align-items-center">

      {% for card in cards %}
        <div class="slick-subjects {% if forloop.first %} mb-3 {% endif %}" >
          {% for dt in card  %}
            <div class="card" style="box-shadow:none; margin-right:15px">
              <img src="{% static 'app-design/assets/images/features-2.svg' %}" class="card-img-top" alt="{{dt.name}}">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-primary stretched-link">{{dt.name}}</a>
                </h5>
                <p class="card-text font-12" style="font-weight:100!important">
                  {{dt.get_subject_group_display}}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>
  </div>
</section>

<section class="py-3 bg-light-lighten border-top border-bottom border-light">
  <div class="container">
    <div class="row pt-4">
      <div class="col-lg-12">
        <div class="text-left">
          <h3>
            Pintasan Utama <span class="text-warning">__________________</span>
          </h3>
          <h2 class="text-muted mt-3">Akses Data Muna Dalam Angka</h2>
        </div>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-sm-2 mb-2 mt-2 mb-sm-0">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
              <a class="nav-link active show py-2" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab">
                  <i class="mdi mdi-clipboard-text-search d-md-none d-block"></i>
                  <span class="d-none d-md-block">Tabel Statistik</span>
              </a>
              <a class="nav-link mt-2 py-2" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab">
                  <i class="mdi mdi-file-table-outline d-md-none d-block"></i>
                  <span class="d-none d-md-block">Cek Ketersedian Data</span>
              </a>
          </div>
      </div> <!-- end col-->
  
      <div class="col-sm-10 px-3">
          <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel">
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table class="table table-hover table-centered mb-0 table-xxl" id="statistics_table">
                        <thead>
                          <tr>
                            <th>Data Statistik</th>
                            <th>Kategori Statistik</th>
                            <th>Jenis Data</th>
                            <th>Tanggal Rilis</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if stats_data|length > 0 %} {% for dt in stats_data %}
                          <tr>
                            <td>
                              <a href="#" class="text-secondary">{{dt.name}}</a>
                            </td>
                            <td>{{dt.subject_id.name}}</td>
                            <td>Statistik {{dt.get_stat_category_display}}</td>
                            <td>{{ dt.created_at|date:"d M Y" }}</td>
                          </tr>
                          {% endfor %} {% else %}
                          <tr>
                            <td colspan="4"><i>Data belum tersedia</i></td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                    
                    {% if stats_data|length > 3 %}
                    <br>
                    <a href="#" class="btn">Muat lebih banyak <i class="dripicons-chevron-right"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <div class="app-search dropdown">
                      <div class="row gy-2 gx-2 align-items-center">
                        <div class="col-auto">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Telusuri Ketersediaan Data ..." id="search_data" autocomplete="off" style="width: 300px; height: 45px; border-radius: 5px">
                            <span class="mdi mdi-magnify search-icon" style="margin-top: 5px"></span>
                          </div>
                        </div>
                        <div class="col-auto mt-2 px-0">
                          <button class="btn btn-primary rounded ml-2"  id="button-search_data">
                            Cek Data
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12 table-responsive">
                    <table class="table table-hover table-centered mb-0 w-100 dt-responsive" id="data_table_check">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Data Statistik</th>
                          <th>Kategori</th>
                          <th>Periode</th>
                          <th>Rilis</th>
                        </tr>
                      </thead>
                      <tbody class="text-secondary"></tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div> <!-- end tab-content-->
      </div> <!-- end col-->
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="text-left">
          <h2>Media Statistik</h2>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
          <div class="tab-content">
            <div class="tab-pane show active" id="infographs">
              <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3>Infografis <span class="text-primary">Statistik</span></h3>
                        <p class="text-muted mt-2">Layanan infografis dan visualisasi data statistik interaktif.</p>
                    </div>
                </div>
              </div>
              <div class="slick-infographs mt-3">
                {% for infograph in infographcs %}
                  <div class="demo-box text-center mt-3 mt-lg-0 mx-1">
                      <img src="/media/{{infograph.thumbnail}}" alt="Infografis {{infograph.title}}" class="img-fluid shadow-sm rounded">
                      <h5 class="mt-3 f-17 text-truncate">{{infograph.title}}</h5>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="videographs">
              <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3>Videografis <span class="text-primary">Statistik</span></h3>
                        <p class="text-muted mt-2">Layanan infografis dan visualisasi data statistik interaktif.</p>
                    </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="slick-videographs mt-3">
                  {% for videograph in videographs %}
                    <div class="demo-box text-center mt-3 mt-lg-0 mx-1">
                        <img src="/media/{{videograph.thumbnail}}" alt="{{videograph.title}}" class="img-fluid shadow-sm rounded">
                        <h5 class="mt-3 f-17 text-truncate">{{videograph.title}}</h5>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pubs">
              <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3>Publikasi <span class="text-primary">Statistik</span></h3>
                        <p class="text-muted mt-2">Layanan infografis dan visualisasi data statistik interaktif.</p>
                    </div>
                </div>
              </div>

              <div class="slick-pubs mt-3">
                {% for publication in publications %}
                  <div class="demo-box text-center mt-3 mt-lg-0 mx-1">
                    <img src="/media/{{publication.thumbnail}}" alt="Infografis {{publication.title}}" class="img-fluid shadow-sm rounded">
                    <h5 class="mt-3 f-17">{{publication.title}}</h5>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row py-3 px-4 align-items-center justify-content-center">
      <div class="col-5">
          <ul class="nav nav-pills nav-justified mt-3" style="font-size:13px">
              <li class="nav-item mx-1">
                  <a href="#infographs" data-bs-toggle="tab" class="nav-link active py-2" style="border-radius:20px;" onclick="init_slick('.slick-infographs')">
                      <i class="mdi mdi-home-variant d-md-none d-block"></i>
                      <span class="d-none d-md-block">Infografis</span>
                  </a>
              </li>
              <li class="nav-item">
                <a href="#videographs" data-bs-toggle="tab" class="nav-link py-2" style="border-radius:20px;" onclick="init_slick('.slick-videographs')">
                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                    <span class="d-none d-md-block">Videografis</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#pubs" data-bs-toggle="tab" class="nav-link py-2" style="border-radius:20px;" onclick="init_slick('.slick-pubs')">
                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                    <span class="d-none d-md-block">Publikasi</span>
                </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</section>

{% endblock main-content %}

{% block js-extender %}
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

<script>

  function init_slick(target){
    $(target).slick('refresh')
  }

  $('.slick-infographs, .slick-videographs, .slick-pubs').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 2,
    autoplay: false,
    autoplaySpeed: 5000,
    responsive : [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  })
 
  $('.slick-items').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 2,
    autoplay: true,
    autoplaySpeed: 5000,
    responsive : [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  })

  $('.slick-subjects').slick({
    infinite: false,
    slidesToShow: 6,
    slidesToScroll: 2,
    autoplay: false,
    responsive : [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: false,
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  })

</script>

<script>
  var table_check = $("#data_table_check").DataTable({
    info: false,
    searching: false,
    lengthChange: false,
    pageLength: 5,
    processing: true,
    serverSide: true,
    bAutoWidth: false,
    ajax: {
      url: "{% url 'app:data-tracing-app' %}",
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": "{{csrf_token}}",
      },
      type: "POST",
      data: function (d) {
        return $.extend({}, d, {
          search_data: $("#search_data").val(),
        });
      },
    },
    columns: [
      { data: "no", width: '5%',},
      { data: "indicator_id__name", width: '50%'},
      { data: "indicator_id__subject_id__name" },
      { data: "indicator_id__time_period_id__name" },
      { data: "created_at" },
    ],
    language: {
      paginate: {
        previous: "<i class='mdi mdi-chevron-left'>",
        next: "<i class='mdi mdi-chevron-right'>",
      },
    },
    drawCallback: function () {
      $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
    },
  });

  var table_static = $("#statistics_table").DataTable({
    info: false,
    searching: false,
    lengthChange: false,
    pageLength: 5,
    processing: true,
    serverSide: true,
    bAutoWidth: false,
    ajax: {
      url: "{% url 'app:statistics-table' %}",
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": "{{csrf_token}}",
      },
      type: "POST",
      data: function (d) {
        return $.extend({}, d, {
          search_data: $("#search_data").val(),
        });
      },
    },
    columns: [
      { data: "no", width: '5%',},
      { data: "indicator_id__name", width: '50%'},
      { data: "indicator_id__subject_id__name" },
      { data: "indicator_id__time_period_id__name" },
      { data: "created_at" },
    ],
    language: {
      paginate: {
        previous: "<i class='mdi mdi-chevron-left'>",
        next: "<i class='mdi mdi-chevron-right'>",
      },
    },
    drawCallback: function () {
      $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
    },
  });
  $("#button-search_data").on("click", function () {
    table.draw();
  });
</script>
{% endblock js-extender %}
