{% extends 'horizontal/home_app.html' %}

{% load static %}

{% block css-extender %}

<link href="{% static 'app-design/assets/css/vendor/jstree.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .view {
        margin: auto;
        height:550px;
    }
      .wrapper {
        position: relative;
        overflow: auto;
        white-space: nowrap;
      }
      
      .sticky-col {
        position: -webkit-sticky;
        position: sticky;
        z-index:2
      }
      
      .first-col {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        left: 0px;
        background-color: white!important;
      }
      
      .second-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        left: 100px; /* you have to count the first-col width => your border width */
        background-color: white!important
      }
    
      .header-col {
        background-color:#2262AB!important
      }

      .first-row th {
        position: sticky;
        top: 0px;
      }
      
      .second-row th {
        position: sticky;
        top: 45px;
      }

    /* separate table part and td, th part */

    table {
         border-collapse: separate;
         border-spacing: 0;
    }

    thead, tr>th {
        position: sticky;
    }   

    thead {
        top: 0;
        z-index: 3;
    }
   
</style>

<style>
    #expandButton:focus {     
        box-shadow:none;    
    }
</style>
{% endblock css-extender %}

{% block main-content %}
<!-- START HERO -->


<section class="hero-section" style="height:630px">
    <div class="container">
        <div class="row align-items-center" id="search-content">
            <div class="col-md-6 mt-4">
                <div class="">
                    <div>
                        <span class="badge bg-danger rounded-pill">Baru</span> 
                        <span class="text-white-50 ms-1">Selamat datang di portal Satu Data Muna</span>
                    </div>
                    <h3 class="text-white fw-normal my-3 hero-title">
                        Telusuri Data Statistik Kabupaten Muna
                    </h3>
                    <p class="pr-2 mb-3 font-15 text-white-50"><span class="text-white fw-normal">SDM</span> merupakan wujud sinergi dan kolaborasi bersama antara BPS Kab. Muna selaku penyedia layanan data.</p>

                    <div class="row align-items-start">
                        <div class="col-lg-12 d-flex justify-content-start">
                            <div class="app-search dropdown">
                                <form>
                                    <div class="row gy-2 gx-2">
                                        <div class="col-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Telusuri data statistik ..." id="top-search-mitra" autocomplete="off" style="width:400px;height:50px;background-color:#ffffff;border-radius:5px">
                                                <span class="mdi mdi-magnify search-icon" style="margin-top:5px"></span>
                                                <button class="btn btn-danger rounded" style="height:48px;margin-left:8px" id="button-top-search">Telusuri Data</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="text-md-end mt-1">
                    <img src="{% static 'app-design/assets/images/startup.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>

    </div>
</section>

<!-- END HERO -->
<section class="py-3 bg-white" id="main-content" style="margin-top:-50px;"> 
    <div class="container " >
        <div class="row justify-content-end">
            <button class="btn bg-white"  style="width:100px; height:40px; font-size:12px; border-radius:20px; margin-top:-45px; padding: 8px 0px 8px 5px; z-index:10; margin-right:10px!important;" id="expandButton">Expand <i class="mdi mdi-arrow-up-down"></i></button>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-left">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);" style="color:#003C80">Beranda</a></li>
                            <li class="breadcrumb-item active text-truncate"><a href="javascript: void(0);" style="color:#003C80">Tabel Statistik</a></li>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-2">

            <div class="col-lg-9">
                <div class="mb-2">
                    <h3 class="font-weight-bold" style="color:#003C80"><strong>Garis Kemiskinan menurut Kabupaten/Kota di Provinsi Sulawesi Tenggara, Rupiah (Rp)</strong></h3>
                </div>

                <div class="mb-3 mt-4">
                    <h5>Konsep Data: </h5>
                    <div class="mt-1">
                        <p>Revolusi Mental merupakan Gerakan untuk mengubah cara pandang, cara piker, sikap, perilaku, dan cara kerja bangsa Indonesia, yang mengacu pada nilai-nilai integritas, etos kerja, gotong royong, berlandaskan Pancasila sehingga bangsa Indonesia menjadi negara yang maju, modern, makmur, sejahtera, dan bermartabat.
                        </p>
                    </div>
                </div>

                <div class="mb-3">
                    <h5>Definisi: </h5>
                    <div class="mt-1">
                        <p>Indeks yang disusun berdasarkan nilai pengeluaran petani untuk menghasilkan produksi pertanian termasuk didalamnya konsumsi rumah tangga
                        </p>
                    </div>
                </div>

                <div class="mb-3">
                    <h5>Metode Perhitungan: </h5>
                    <div class="mt-1">
                        <p> Y = MX/1
                        </p>
                    </div>
                </div>

                <div class="mb-3">
                    <h5>Satuan/Ukuran: </h5>
                    <div class="mt-1">
                        <p> Rupiah (Rp) </p>
                    </div>
                </div>

                <div class="mb-3">
                    <h5>Karakteristik Indikator: </h5>
                    <div class="mt-1">
                        <ul>
                            <li>Kelompok Baris: Persentase Kemiskinan Menurut Jenis Kelamin</li>
                            <li>Kelompok Kolom: Kabupaten/Kota di Sulawesi Tenggara</li>
                        </ul>
                    </div>
                </div>
    
                <div class="mb-3">
                    <h5>Sumber: </h5>
                    <div class="mt-1">
                        <p>Badan Pusat Statistik (BPS) Kab. Muna 2024</p>
                    </div>
                </div>
    
                <div class="mb-3">
                    <h5>Terakhir Diperbarui: </h5>
                    <div class="mt-1">
                        <p>Selasa, 12 April 2024</p>
                    </div>
                </div>

            </div>
   
            <div class="col-lg-3">
                <div class="card" id="datasetCard" style="background-color:#fff; box-shadow:none">
                    <div class="card-body" style="padding:90px 25px 0px 35px">
                        <div class="mb-3">
                            <h5>Kategori Statistik: </h5>
                            <div class="mt-1">
                                <span class="badge bg-primary">Statistik Dasar</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <h5>Periode Data: </h5>
                            <div class="mt-1">
                                <p>Triwulanan</p>
                            </div>
                        </div>

                        <div>
                            <h5>Data Tersedia: </h5>
                            <div class="mt-1">
                                <div id="jstree-1">
                                    <ul>
                                        <li data-jstree='{"opened" : true }'>
                                            2022
                                            <ul>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="#" class="jstree-clicked">Triwulan I</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan II</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan III</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan IV</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            2023
                                            <ul>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan I</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan II</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan III</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan IV</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            2024
                                            <ul>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan I</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan II</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan III</a>
                                                </li>
                                                <li data-jstree='{ "icon" : "mdi mdi-file-chart-outline" }'>
                                                    <a href="http://www.coderthemes.com">Triwulan IV</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>

        </div>
        
    </div>
</section>


<section class="pt-2 pb-5">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-3" style="padding:20x 0px 20px 0px; ">
                <h4 class="p-2 mb-1" ><i class="mdi mdi-arch"></i> Pilih Dataset</h4>
                <div class="card mb-2 mt-3">
                    <div class="card-body">
                        <div class="card-widgets">
                            <a data-bs-toggle="collapse" href="#cardCollpase" role="button" aria-expanded="false" aria-controls="cardCollpase"><i class="mdi mdi-chevron-double-right"></i></a>
                        </div>
                        <h5 class="card-title mb-0" style="color:#003C80">Pengaturan Dataset</h5>
                                        
                        <div id="cardCollpase" class="collapse pt-3 show">
                            <div class="mb-3">
                                <h5>Periode: </h5>
                                <ul class="detailPeriod py-2" style="list-style:none;padding-left:5px;overflow-y: scroll; height:200px">
                                    <li class="yearPeriod" style="cursor: pointer" >
                                        <i class="mdi mdi-chevron-right"></i>
                                        
                                        <span style="font-weight:bold">Tahun 2024</span>
                                        <ul class="py-2" style="list-style:none;padding-left:20px;">
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input border" id="customCheck" >
                                                    <label for="" style="font-weight:normal"><i class="mdi mdi-chart-box"></i> Triwulan I </label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"><i class="mdi mdi-chart-box"></i> Triwulan II</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"><i class="mdi mdi-chart-box"></i> Triwulan III</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"><i class="mdi mdi-chart-box"></i> Triwulan IV</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="yearPeriod" style="cursor: pointer">
                                        <i class="mdi mdi-chevron-right"></i>
                                        <span style="font-weight:bold"> Tahun 2023</span>
                                        <ul class="d-none py-2" style="list-style:none;padding-left:20px;">
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input border" id="customCheck" >
                                                    <label for="" style="font-weight:normal"> Triwulan I</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan II</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan III</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan IV</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="yearPeriod" style="cursor: pointer">
                                        <i class="mdi mdi-chevron-right"></i>
                                        <span style="font-weight:bold">Tahun 2022</span>
                                        <ul class="d-none py-2" style="list-style:none;padding-left:20px;">
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input border" id="customCheck" >
                                                    <label for="" style="font-weight:normal"> Triwulan I</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan II</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan III</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan IV</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="yearPeriod" style="cursor: pointer">
                                        <i class="mdi mdi-chevron-right"></i>
                                        <span style="font-weight:bold">Tahun 2021</span>
                                        <ul class="d-none py-2" style="list-style:none;padding-left:20px;">
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input border" id="customCheck" >
                                                    <label for="" style="font-weight:normal"> Triwulan I</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan II</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan III</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan IV</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="yearPeriod" style="cursor: pointer">
                                        <i class="mdi mdi-chevron-right"></i>
                                        <span style="font-weight:bold">Tahun 2020</span>
                                        <ul class="d-none py-2" style="list-style:none;padding-left:20px;">
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input border" id="customCheck" >
                                                    <label for="" style="font-weight:normal"> Triwulan I</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan II</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan III</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan IV</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="yearPeriod" style="cursor: pointer">
                                        <i class="mdi mdi-chevron-right"></i>
                                        <span style="font-weight:bold">Tahun 2019</span>
                                        <ul class="d-none py-2" style="list-style:none;padding-left:20px;">
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input border" id="customCheck" >
                                                    <label for="" style="font-weight:normal"> Triwulan I</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan II</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan III</label>
                                                </div>
                                            </li>
                                            <li style="padding-bottom:2px">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck">
                                                    <label for="" style="font-weight:normal"> Triwulan IV</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
    
                            </div>
            
                            <div class="mb-4">
                                <h5>Grafik: </h5>
                                <div class="mt-1">
                                    <ul class="detailPeriod" style="list-style:none;padding-left:5px;">
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-chart-bar"></i>
                                            <label for="">Bar Chart</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-chart-line"></i>
                                            <label>Line Chart</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-chart-pie"></i>
                                            <label>Pie Chart</label>
                                            
                                        </li>
                                    </ul>
    
                                </div>
                            </div>
    
                            <div class="mb-3">
                                <h5>Analisis: </h5>
                                <div class="mt-1">
                                    <input type="checkbox" class="form-check-input" id="customCheck1">&ensp;
                                    <i class="mdi mdi mdi-chart-timeline-variant-shimmer"></i>
                                    <label for="">Deskriptif</label>
                                </div>
                            </div>
                            
                            {% comment %} <div class="mb-3">
                                <h5>File Output: </h5>
                                <div class="mt-1">
                                    <ul class="detailPeriod" style="list-style:none;padding-left:5px;">
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-file-excel"></i>
                                            <label for="">Excel</label>
                                        
                                        </li>
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-file-code"></i>
                                            <label>Csv</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-file-pdf"></i>
                                            <label>Pdf</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" class="form-check-input" id="customCheck">&ensp;
                                            <i class="mdi mdi-file-chart"></i>
                                            <label>Report Deskriptif</label>
                                        </li>
                                    </ul>
                                    <br>
                                    <button class="btn btn-primary btn-sm">Unduh Data</button>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div> <!-- end card-->

                <h4 class="mx-2 mt-5 mb-3" ><i class="mdi mdi-arch"></i> Subjek Statistik</h4>
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-widgets">
                            <a data-bs-toggle="collapse" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-chevron-double-right"></i></a>
                        </div>
                        <h5 class="card-title mb-0" style="color:#003C80">Sosial dan Kependudukan</h5>
                        <div id="cardCollpase1" class="collapse pt-3 show">
                            <ul style="padding-left:0px!important;font-size:15px">
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary fw-bold" style="color:#003C80!important">Tenaga Kerja <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Konsumsi dan Penge... <span class="badge badge-primary-lighten float-end ms-2">20</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kependudukan <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kemiskinan <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Indeks Pembangunan Manusia <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Sosial Budaya <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Pendidikan <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Perumahan <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kesehatan <span class="badge badge-primary-lighten float-end ms-2">200</span></a></p></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end card-->

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-widgets">
                            <a data-bs-toggle="collapse" href="#cardCollpase2" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-chevron-double-right"></i></a>
                        </div>
                        <h5 class="card-title mb-0" style="color:#003C80">Ekonomi dan Perdagangan</h5>
                                        
                        <div id="cardCollpase2" class="collapse pt-3">
                            <ul style="padding-left:10px!important">
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Konsumsi dan Pengeluaran</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Tenaga Kerja</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kependudukan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kemiskinan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Indeks Pembangunan Manusia</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Sosial Budaya</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Pendidikan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Perumahan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kesehatan</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end card-->
          
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-widgets">
                            <a data-bs-toggle="collapse" href="#cardCollpase3" role="button" aria-expanded="false" aria-controls="cardCollpase3"><i class="mdi mdi-chevron-double-right"></i></a>
                        </div>
                        <h5 class="card-title mb-0" style="color:#003C80">Pertanian dan Pertambangan</h5>
                                        
                        <div id="cardCollpase3" class="collapse pt-3">
                            <ul style="padding-left:10px!important">
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Konsumsi dan Pengeluaran</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Tenaga Kerja</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kependudukan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kemiskinan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Indeks Pembangunan Manusia</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Sosial Budaya</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Pendidikan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Perumahan</a></p></li>
                                <li style="list-style:none;"><p><a href="javascript:void(0)" class="text-secondary">Kesehatan</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end card-->

            </div>
            <div class="col-lg-9 px-4">
                <ul class="nav nav-tabs nav-bordered mb-4" >
                    <li class="nav-item mx-1">
                        <a href="#dinamicTable" id="TableNav" data-bs-toggle="tab" aria-expanded="false" class="nav-link py-2 active">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i> 
                            <span class="d-none d-md-block" style="font-weight:300;">Dataset <i class="mdi mdi-file-table-box-multiple-outline"></i></span>
                        </a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="#ikm_table" data-bs-toggle="tab" aria-expanded="false" class="nav-link py-2">
                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                            <span class="d-none d-md-block" style="font-weight:300;">Visualisasi Data <i class="mdi mdi-book-open-page-variant-outline"></i></span>
                        </a>
                    </li>

                    <li class="nav-item mx-1">
                        <a href="#ids_table" data-bs-toggle="tab" aria-expanded="false" class="nav-link py-2">
                            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                            <span class="d-none d-md-block" style="font-weight:300;">Visualisasi Data <i class="mdi mdi-newspaper-variant-multiple"></i></span>
                        </a>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="dinamicTable">
                        <div class="card pb-3" style="box-shadow:none">
                            <div class="card-body px-3 mt-4 mt-lg-0">
                                <div class="mb-3">
                                    <h4 class="font-weight-bold"><strong>Angka Harapan Hidup (AHH) Menurut Provinsi dan Jenis Kelamin (menggunakan UHH hasil SP2020 LF), 2022-2023</strong></h4>
                                </div>
                                <div class="mt-1">
                                    <p class="font-weight-light font-13">Terakhir diperbarui: 12 Maret 2024</p>
                                </div>
                                
                                <div class="row my-1">
                                    <div class="col-sm-6">
                                        <div class="form-check form-switch mb-2">
                                            <input type="checkbox" class="form-check-input" id="customSwitch1">
                                            <label class="form-check-label font-14" for="customSwitch1">Bekukan Kolom</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-end" style="padding-right:18px!important">
                                        <button type="button" class="btn btn-primary" style="margin-right:3px!important" data-bs-toggle="popover" title="Berhasil !" data-bs-content="Tautan berhasil disalin."  id="clipboard-btn"><i class="mdi mdi-clipboard-file"></i> </button>
                                        <button type="button" class="btn btn-success" style="margin-right:3px!important"><i class="mdi mdi mdi-file-excel"></i> </button>
                                        <button type="button" class="btn btn-info" style="margin-right:3px!important"><i class="mdi mdi-file-pdf"></i> </button>
                                    </div>
                                </div>

                                <input type="hidden" name="indicator_id" id="indicator_id" value="{{data_indicator.id}}">
                                <input type="hidden" name="year" id="year" value="{{current_year}}">
                                <input type="hidden" name="item_period" id="item_period" value="{{period.id}}">

                                <div class="view">
                                    <div class="wrapper">
                                        <table class="table table-sm table-striped table-centered nowrap w-100 mb-1 font-14" id="content-table">
                                            <thead style="background-color:#2262AB;color:white">
                                                <tr>
                                                    <th rowspan="2" class="text-center sticky-col header-col first-col">No</th>
                                                    <th rowspan="2" class="text-center sticky-col header-col second-col">Kelompok</th>
                                                    <th class="text-center" colspan="12">Karakteristik Kemiskinan</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Laki-laki</th>
                                                    <th class="text-center">Perempuan</th>
                                                    <th class="text-center">Laki-laki + Perempuan</th>
                                                    <th class="text-center">Laki-laki</th>
                                                    <th class="text-center">Perempuan</th>
                                                    <th class="text-center">Laki-laki + Perempuan</th>
                                                    <th class="text-center">Laki-laki</th>
                                                    <th class="text-center">Perempuan</th>
                                                    <th class="text-center">Laki-laki + Perempuan</th>
                                                    <th class="text-center">Laki-laki</th>
                                                    <th class="text-center">Perempuan</th>
                                                    <th class="text-center">Laki-laki + Perempuan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in '123456789123456789'  %}
                                                <tr >
                                                    <td class="text-center sticky-col first-col">{{forloop.counter}}</td>
                                                    <td class="sticky-col second-col">Buton</td>
                                                    <td class="text-center">1.200</td>
                                                    <td class="text-center">4.100</td>
                                                    <td class="text-center">3.100</td>
                                                    <td class="text-center">1.200</td>
                                                    <td class="text-center">4.100</td>
                                                    <td class="text-center">3.100</td>
                                                    <td class="text-center">1.200</td>
                                                    <td class="text-center">4.100</td>
                                                    <td class="text-center">3.100</td>
                                                    <td class="text-center">1.200</td>
                                                    <td class="text-center">4.100</td>
                                                    <td class="text-center">3.100</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <h5 class="font-weight-light font-13"><i>Sumber: BPS Kabupaten Muna</i></h5>
                                
                                <div class="mt-4">
                                    <h5>Interpretasi Data:</h5>

                                    <ul>
                                        <li>Ib Nasional Juni 2020 (2018=100)=123,41 artinya tingkat harga kebutuhan petani mengalami kenaikan secara rata-rata 1,23 kali lipat dibanding dengan produk yang sama pada tahun 2018.</li>
                                        <li>Ib Nasional Juni 2020 (2018=100)=123,41 artinya tingkat harga kebutuhan petani mengalami kenaikan secara rata-rata 1,23 kali lipat dibanding dengan produk yang sama pada tahun 2018.</li>
                                        <li>Ib Nasional Juni 2020 (2018=100)=123,41 artinya tingkat harga kebutuhan petani mengalami kenaikan secara rata-rata 1,23 kali lipat dibanding dengan produk yang sama pada tahun 2018.</li>
                                        <li>Ib Nasional Juni 2020 (2018=100)=123,41 artinya tingkat harga kebutuhan petani mengalami kenaikan secara rata-rata 1,23 kali lipat dibanding dengan produk yang sama pada tahun 2018.</li>
                                        <li>Ib Nasional Juni 2020 (2018=100)=123,41 artinya tingkat harga kebutuhan petani mengalami kenaikan secara rata-rata 1,23 kali lipat dibanding dengan produk yang sama pada tahun 2018.</li>
                                    </ul>
                                  
                                </div>
                            </div>
                        </div>

                        <div class="card" style="box-shadow:none">
                            <div class="card-body px-3 mt-4 mt-lg-0">
                                <div class="mb-3">
                                    <h4 class="font-weight-bold"><strong>Angka Harapan Hidup (AHH) Menurut Provinsi dan Jenis Kelamin (menggunakan UHH hasil SP2020 LF), 2022-2023</strong></h4>
                                </div>
                                
                                <div class="mt-1">
                                    <p class="font-weight-light font-13">Terakhir diperbarui: 12 Maret 2024</p>
                                </div>
        
                                <div class="form-check form-switch mb-2">
                                    <input type="checkbox" class="form-check-input" id="customSwitch1">
                                    <label class="form-check-label font-14" for="customSwitch1">Bekukan Kolom</label>
                                </div>

                                <form method="POST" action="{% url 'backend:backend-content-input-submit' %}" class="needs-validation" id="content-form-submit" novalidate="">
                                    {% csrf_token %}
                                    <input type="hidden" name="indicator_id" id="indicator_id" value="{{data_indicator.id}}">
                                    <input type="hidden" name="year" id="year" value="{{current_year}}">
                                    <input type="hidden" name="item_period" id="item_period" value="{{period.id}}">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-striped table-centered nowrap w-100 mb-1 font-14">
                                            <thead class="bg-primary-lighten">
                                                <tr>
                                                    <th rowspan="2" class="text-center">No</th>
                                                    <th rowspan="2" class="text-center">Kelompok</th>
                                                    <th class="text-center" colspan="6">Karakteristik Kemiskinan</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Laki-laki</th>
                                                    <th class="text-center">Perempuan</th>
                                                    <th class="text-center">Laki-laki + Perempuan</th>
                                                    <th class="text-center">Laki-laki</th>
                                                    <th class="text-center">Perempuan</th>
                                                    <th class="text-center">Laki-laki + Perempuan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in '123456789'  %}
                                                <tr >
                                                    <td class="text-center">{{forloop.counter}}</td>
                                                    <td>Buton</td>
                                                    <td class="text-center">1.200</td>
                                                    <td class="text-center">4.100</td>
                                                    <td class="text-center">3.100</td>
                                                    <td class="text-center">1.200</td>
                                                    <td class="text-center">4.100</td>
                                                    <td class="text-center">3.100</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <h5 class="font-weight-light font-13"><i>Sumber: BPS Kabupaten Muna</i></h5>
        
                                    {% if d_form %}
                                    <div class="mt-3 mb-4">
                                        {% if status_update %}
                                            <button class="btn btn-rounded btn-primary mt-3 d-none" type="submit" id="button_submit_form">Perbarui Data Tabel</button>
                                        {% else %}
                                            <button class="btn btn-rounded btn-primary mt-3" type="submit">Simpan Data Tabel</button>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings1">
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main-content %}


{% block js-extender %}

<script src="{% static 'app-design/assets/js/vendor/jstree.min.js' %}"></script>
<script src="{% static 'app-design/assets/js/pages/demo.jstree.js' %}"></script>

<script>
    $(".yearPeriod").on("click", function (e) {
        var list_item = $(this).find('ul')
        if (!list_item.hasClass("show")){
            $('.yearPeriod').find('ul').not(list_item).removeClass('show').addClass('d-none');
            list_item.removeClass("d-none")
            list_item.addClass("show")
        } else{
            list_item.removeClass("show")
            list_item.addClass("d-none")
        }
        
    })

</script>

<script>
    $('#clipboard-btn').on('click', function(e){
        e.preventDefault()
        setTimeout(function () {
            $('#clipboard-btn').popover('hide');
        }, 1500);
    })

</script>
{% endblock js-extender %}
