{% extends 'horizontal/home_app.html' %}

{% load static %}

{% block css-extender%}

<link href="http://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet" />
<link href="http://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet"/>

{% endblock css-extender %}

{% block main-content %}

<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="mt-md-4">
                    <div>
                        <span class="badge bg-danger rounded-pill">Baru</span>
                        <span class="text-white-50 ms-1">Selamat datang di portal Satu Data Muna</span>
                    </div>
                    <h2 class="text-white fw-normal mb-4 mt-3 hero-title">
                        Portal Satu Data Muna (SDM)
                    </h2>

                    <p class="mb-4 font-16 text-white-50"><span class="text-white fw-normal">SDM</span> merupakan wujud sinergi dan kolaborasi bersama antara BPS Kab. Muna selaku penyedia layanan data dan berbagai Dinas OPD selaku stakeholder penyedia data statistik sektoral.</p>

                    <a href="{% url 'app:home-app' %}" class="btn btn-danger btn-xl rounded font-15 py-2 px-3" style="border-radius:50px!important;width:190px">Muat Aplikasi <i class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-2">
                <div class="text-md-end mt-3 mt-md-0">
                    <img src="{% static 'app-design/assets/images/startup.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-heart-multiple-outline"></i></h1>
                    <h3>Penyedia Data Statistik<span class="text-primary"> Untuk Indonesia Maju</span></h3>
                    <p class="text-muted mt-2">Data yang dikhususkan untuk keperluan penyusunan dan penilaian kinerja pembangunan pemerintah Kab. Muna
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-4 align-items-center">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="app-search dropdown ml-5">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Telusuri data statistik ..." id="top-search-mitra" autocomplete="off" style="width:450px;height:50px">
                            <span class="mdi mdi-magnify search-icon" style="margin-top:5px"></span>
                            <button class="btn btn-primary btn-sm rounded" style="margin-left:15px" id="button-top-search">Cari Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py-5 bg-light-lighten border-top border-bottom border-light">
    <div class="container">
        <div class="row pb-3 align-items-center">
            <div class="slick-summarize">
                {% for item in items_summarize %}
                    <div class="card widget-flat py-2 mx-1" style="box-shadow:none">
                        <div class="card-body">
                            <div class="float-end" style="font-size:30px">
                                <i class="mdi mdi-pulse widget-icon"></i>
                            </div>
                            <h5 class="mt-0 fw-normal">{{item.title}}</h5>
                            <div class="mt-3" style="margin-bottom:20px">
                                <h3 class="d-inline me-1">{{item.value}}</h3>
                                <span style="font-size:18px">({{item.unit_id}})</span>
                            </div>
                            <p class="mb-0 text-muted">
                                <span class="text-nowrap">{{item.item_period}} {{item.year}}</span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-infinity"></i></h1>
                    <h3>Pusat Layanan <span class="text-primary">Statistik Terpadu</span></h3>
                    <p class="text-muted mt-2">Layanan statistik terpadu merupakan program percepatan layanan data dan informasi statistik <br> yang disusun secara inheren oleh BPS Kabupaten Muna.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="uil uil-desktop text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">Data Strategis</h4>
                    <p class="text-muted mt-2 mb-0">Ringkasan data statistik yang diperoleh dari berbagai dimensi statistik unggulan pada tahun berjalan.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="uil uil-table text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">Tabel Statistik</h4>
                    <p class="text-muted mt-2 mb-0">Fitur pencarian data yang ditujukan untuk mempermudah pengguna dalam menemukan data yang diinginkan.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="uil uil-presentation text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">Infografis</h4>
                    <p class="text-muted mt-2 mb-0">Visualisasi data statistik yang disajikan menggunakan ilustrasi, grafik, dan teks interaktif.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="uil uil-newspaper text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">Data Kinerja Pembangunan</h4>
                    <p class="text-muted mt-2 mb-0">Kumpulan data yang ditujukan sebagai dasar penyusunan rencana kinerja pembangunan pemerintah Kab. Muna.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="uil uil-envelope-edit text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">Permohonan Data</h4>
                    <p class="text-muted mt-2 mb-0">Layanan yang dikhususkan bagi pengguna untuk memperoleh data yang tidak tercakup pada tabel dinamis.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-center p-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="uil uil-forwaded-call text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">Konsultasi Data Statistik</h4>
                    <p class="text-muted mt-2 mb-0">Layanan internal BPS Kab. Muna kepada pihak eksternal dalam rangka pelayanan statistik terpadu.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py-5 bg-light-lighten border-top border-bottom border-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3>Flexible <span class="text-primary">Layouts</span></h3>
                    <p class="text-muted mt-2">There are three different layout options available to cater need for
                        any <br> modern web
                        application.</p>
                </div>
            </div>
        </div>
        <div class="slick-features mt-4">
            {% for i in '123456' %}
                <div class="demo-box text-center mx-2">
                    <img src="{% static 'app-design/assets/images/layouts/layout-1.png' %}" alt="demo-img" class="img-fluid shadow-sm rounded">
                    <h5 class="mt-3 fw-normal" data-bs-toggle="modal" data-bs-target="#centermodal">Vertical Layout</h5>
                </div>
                <div class="demo-box text-center mt-3 mt-lg-0  mx-2">
                    <img src="{% static 'app-design/assets/images/layouts/layout-2.png' %}" alt="demo-img" class="img-fluid shadow-sm rounded">
                    <h5 class="mt-3 fw-normal" onclick="return alert('Hello World')">Horizontal Layout</h5>
                </div>
                <div class="demo-box text-center mt-3 mt-lg-0  mx-2">
                    <img src="{% static 'app-design/assets/images/layouts/layout-3.png' %}" alt="demo-img" class="img-fluid shadow-sm rounded">
                    <h5 class="mt-3 fw-normal" onclick="return alert('Hello World')">Detached Layout</h5>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-newspaper-variant-multiple-outline"></i></h1>
                    <h3>Frequently Asked Questions <span class="text-primary">(FAQ)</span></h3>
                    <p class="text-muted mt-2">Berisi tentang pertanyaan pertanyaan yang sering diajukan.</p>
                    <button type="button" class="btn btn-primary btn-sm mt-2 py-2 rounded"><i class="mdi mdi-newspaper me-1"></i>Muat lebih banyak FAQ</button>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-5 offset-lg-1">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">Can I use this template for my client?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Yup, the marketplace license allows you to use this theme
                        in any end products.
                        For more information on licenses, please refere <a href="../../licenses/index.htm" target="_blank">here</a>.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">How do I get help with the theme?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Use our dedicated support email (support@coderthemes.com) to send your issues or feedback. We are here to help anytime.</p>
                </div>
                
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">How do I get help with the theme?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Use our dedicated support email (support@coderthemes.com) to send your issues or feedback. We are here to help anytime.</p>
                </div>
            </div>
            <!--/col-lg-5 -->

            <div class="col-lg-5">
                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">Can this theme work with Wordpress?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">No. This is a HTML template. It won't directly with
                        wordpress, though you can convert this into wordpress compatible theme.</p>
                </div>

                <!-- Question/Answer -->
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">Will you regularly give updates of Hyper?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Yes, We will update the Hyper regularly. All the
                        future updates would be available without any cost.</p>
                </div>
                <div>
                    <div class="faq-question-q-box">Q.</div>
                    <h4 class="faq-question text-body">Will you regularly give updates of Hyper?</h4>
                    <p class="faq-answer mb-4 pb-1 text-muted">Yes, We will update the Hyper regularly. All the
                        future updates would be available without any cost.</p>
                </div>
            </div>
            <!--/col-lg-5-->
        </div>
        <!-- end row -->

    </div> <!-- end container-->
</section>

<!-- Center modal -->
<div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-white">
            <div class="modal-body">
                <img src="{% static 'app-design/assets/images/layouts/layout-2.png' %}" alt="demo-img" class="img-fluid shadow-sm rounded">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock main-content %}

{% block js-extender %}
    <script src="{% static 'app-design/assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'app-design/assets/js/app.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

    <script>
        $('.slick-slider, .slick-summarize, .slick-features').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 2,
        autoplay: true,
        autoplaySpeed: 5000,
        responsive : [
            {
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
            }
            },
            {
            breakpoint: 600,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
            },
            {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
            }
        ]
        })            
    </script>
{% endblock js-extender %}