<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <img src="assets/images/small/small-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card with stretched link</h5>
                <a href="#" class="btn btn-primary mt-2 stretched-link">Go somewhere</a>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <img src="assets/images/small/small-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="text-success stretched-link">Card with stretched link</a></h5>
                <p class="card-text">
                    Some quick example text to build on the card up the bulk of the card's content.
                </p>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <img src="assets/images/small/small-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card with stretched link</h5>
                <a href="#" class="btn btn-info mt-2 stretched-link">Go somewhere</a>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <img src="assets/images/small/small-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="stretched-link">Card with stretched link</a></h5>
                <p class="card-text">
                    Some quick example text to build on the card up the bulk of the card's content.
                </p>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col-->
</div>