{% extends 'vertical/base.html' %}
{% load static %}

{% block nav_content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Konten Aplikasi</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tabel Statistik</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'backend:backend-units' %}">Satuan Data</a></li>
                        <li class="breadcrumb-item active">Input Data</li>
                    </ol>
                </div>
                <h4 class="page-title">Input Satuan Data</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
{% endblock nav_content %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <a href="{% url 'backend:backend-units' %}" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Satuan Data</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-refresh"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <form method="POST" class="needs-validation" id="unit-form" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">{{form.name.label}}</label>
                                {{form.name}}
                                <div class="invalid-feedback" id="msg-{{form.name.id_for_label}}">
                                    Satuan data harus diisi (required)
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">{{form.desc.label}}</label>
                                {{form.desc}}
                            </div>
                            <div class="invalid-feedback" id="msg-{{form.desc.id_for_label}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>



{% endblock content %}


{% block js-extender %}

<script>

    $("input[name=desc]").prop("required", false);

    $("#unit-form").on("submit", function (e){
        e.preventDefault()
        
        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'post',
            url: $(this).attr('action'),
            data: serializedData,
            
            success: function (response) {
                console.log(response)
            },
            error: function (response) {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        })

    })

</script>

{% endblock js-extender %}