{% extends 'vertical/base.html' %}
{% load static %}

{% block nav_content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Konten Aplikasi</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tabel Statistik</a></li>
                        <li class="breadcrumb-item active">Satuan Statistk</li>
                    </ol>
                </div>
                <h4 class="page-title">Satuan Data</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
{% endblock nav_content %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Tambah Satuan</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap" id="units-datatable">
                        <thead class="table-light">
                            <tr>
                                <th class="all" style="width: 5%;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th style="width: 5%;">No</th>
                                <th style="width: 25%;">Satuan Data</th>
                                <th style="width: 50%;">Keterangan</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>



{% endblock content %}


{% block js-extender %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    'use strict'

    var swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary'},
        buttonsStyling: true
    })

    var table = $("#units-datatable").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'backend:backend-units-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
            "data": function (d){
                return $.extend({}, d, {
                    "status_filter": $('#status-select-filter').val(),
                })
            },
        },
        columns :[
            {"data": 'checkbox'},
            {"data": 'no'},
            {"data": 'name'},
            {"data" : 'desc'},
            {"data" : 'actions'},
        ],
        lengthMenu: [5, 25, 50, 100,'All'],
        order: [[2, 'asc']],
        columnDefs: [
         {
            'targets': [0], /* column index */
            'orderable': false, /* true or false */
        },    
        {
            'targets': [4], /* column index */
            'orderable': false, /* true or false */
        }],
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
        },
    });




</script>

<script>

    function deleteUnit(e){
        
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus data mitra?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '{% url 'backend:backend-units' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'id' : e
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (data) => {
                        if (data.status == 'success'){
                            Swal.fire(
                                'Deleted!',
                                data.message,
                                'success'
                                )
                            table.ajax.reload();
                        }else{
                            Swal.fire(
                                'Something wrong!',
                                 data.message,
                                'info'
                            )
                        }
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }
        }) 

    }

    $('#redraw-table').on('click', function (){
        table.draw();
    })


</script>

<script>

    $(document).ready(function() {
        "use strict";
        $("#unitas-datatable").DataTable({
            language: {
                paginate: {
                    previous: "<i class='mdi mdi-chevron-left'>",
                    next: "<i class='mdi mdi-chevron-right'>"
                },
                info: "Showing units _START_ to _END_ of _TOTAL_",
                lengthMenu: 'Display <select class=\'form-select form-select-sm ms-1 me-1\'><option value="8">8</option><option value="25">25</option><option value="50">50</option><option value="-1">All</option></select> products'
            },
            pageLength: 8,
            columns: [{
                orderable: !1,
                targets: 0,
                render: function(e, l, a, o) {
                    return "display" === l && (e = '<div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div>'), e
                },
                checkboxes: {
                    selectRow: !0,
                    selectAllRender: '<div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div>'
                }
            }, {
                orderable: !0
            }, {
                orderable: !0
            }, {
                orderable: !0
            }, {
                orderable: !1
            }],
            select: {
                style: "multi"
            },
            order: [
                [1, "asc"]
            ],
            drawCallback: function() {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded"), $("#products-datatable_length label").addClass("form-label")
            }
        })
    });
</script>

{% endblock js-extender %}