{% load static %}

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- third party css -->
        <link href="{% static 'app-design/assets/css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css">
        <!-- third party css end -->

        <!-- App css -->
        <link href="{% static 'app-design/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'app-design/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style">
        <link href="{% static 'app-design/assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style">
        
        {% block css-extender %}

        <style>

                /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 10px;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #948ff4; 
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #524f88; 
            }

            input, input::placeholder {
                font-size: 13px;
            }

            datalist {
                position: absolute;
                margin-top:10px;
                width: 25em!important;
                max-height: 18em;
                border: 1px solid #DFDFDF;
                padding-top:10px;
                background-color: #fff;
                overflow-x: hidden;
                overflow-y: auto;
                scrollbar-color: #DFDFDF #fff;
                scrollbar-width: thin;
                z-index: 10;
              }
              
              datalist option {
                font-color:#F0F2F5;
                font-size: 0.9em;
                padding: 0.4em 3em;
                cursor: pointer;
              }
              
              /* option active styles */
              datalist option:hover, datalist option:focus {
                background-color: #F8F8F8;
                outline: 0 none;
              }
        </style>
        {% endblock css-extender %}

    </head>

    <body class="loading" data-layout-config='{"layoutBoxed":false,"darkMode":false,"showRightSidebarOnStart": true}'>


        <!-- Pre-loader -->
        <div id="preloader">
            <div id="status">
                <div class="bouncing-loader"><div></div><div></div><div></div></div>
            </div>
        </div>
        <!-- End Preloader-->

        <!-- NAVBAR START -->
        <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
            <div class="container">

                <!-- logo -->
                <a href="index.html" class="navbar-brand me-lg-5">
                    <img src="{% static 'customs/images/bps_kab_muna_dark.png' %}" alt="" class="logo-dark" height="45">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- menus -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <!-- left menu -->
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link active" href="">Beranda</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Data Strategis</a>
                        </li>

                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Data Pembangunan</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Tabel Dinamis</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="#media-statistik">Media Statistik</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="#layanan-statistik">Layanan Statistik</a>
                        </li>
                    </ul>

                    <!-- right menu -->
                    <ul class="navbar-nav ms-auto align-items-center">

                        {% if request.user.is_authenticated %}
                            <li class="nav-item me-0">
                                <form action="{% url 'auth:logout' %}" method="post">
                                    {% csrf_token %}
                                    <a type="submit" class="nav-link d-lg-none">Bank Data</a>
                                    <button type="submit" class="btn btn-sm btn-light btn-rounded d-none d-lg-inline-flex" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Halo, Rifki Gustiawan !" title="">
                                        <i class="mdi mdi-logout me-2"></i> Logout
                                    </button>
                                </form>
                            </li>   
                        {% else %}
                            <li class="nav-item me-0">
                                <a href="../../product/hyper-responsive-admin-dashboard-template/index.htm" target="_blank" class="nav-link d-lg-none">Login Sekarang</a>
                                <a href="../../product/hyper-responsive-admin-dashboard-template/index.htm" target="_blank" class="btn btn-sm btn-light btn-rounded d-none d-lg-inline-flex">
                                    <i class="mdi mdi-login me-2"></i> Login Sekarang
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->

        {% block content %}
        
        {% endblock content %}

        <!-- START FOOTER -->
        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        
                        <a href="https://munakab.bps.go.id/"><img src="{% static 'customs/images/bps_kab_muna_dark.png' %}" alt="" class="logo-dark" height="45"></a>
                       
                        <p class="text-muted mt-4">BPS Kabupaten Muna
                            <br> Jl. Jati No.24, Butung-Butung, Kec. Katobu, 
                            <br> Kabupaten Muna, Sulawesi Tenggara 93611.</p>

                        <ul class="social-list list-inline mt-3">
                            <li class="list-inline-item text-center">
                                <a href="https://wa.me/6285720813630?text=Halo Admin, ada beberapa hal yang ingin kami tanyakan :)" class="social-list-item border-primary text-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Whatsapp" title=""><i class="mdi mdi-whatsapp"></i></a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a href="https://www.instagram.com/bpskabmuna/" class="social-list-item border-primary text-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Instagram" title=""><i class="mdi mdi-instagram"></i></a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a href="https://web.facebook.com/bpskabupatenmuna" class="social-list-item border-primary text-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Facebook" title=""><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a href="https://www.youtube.com/channel/UC2n0NObcNhRcXJqIiH8sewg" class="social-list-item border-primary text-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Youtube" title=""><i class="mdi mdi-youtube-subscription"></i></a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-lg-2 mt-3 mt-lg-0">
                        <h5 class="text-light">Instansi</h5>

                        <ul class="list-unstyled ps-0 mb-0 mt-3">
                            <li class="mt-2"><a href="https://munakab.bps.go.id/" class="text-muted">Tentang Kami</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Hubungi Kami</a></li>
                        </ul>

                    </div>

                    <div class="col-lg-2 mt-3 mt-lg-0">
                        <h5 class="text-light">Menu</h5>

                        <ul class="list-unstyled ps-0 mb-0 mt-3">
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Data Strategis</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Data Kinerja Pembangunan</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Tabel Statistik</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Berita Statistik</a></li>
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Permohonan Data</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 mt-3 mt-lg-0">
                        <h5 class="text-light">Tautan Lainnya</h5>

                        <ul class="list-unstyled ps-0 mb-0 mt-3">
                            <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Jadwal Rilis Data</a></li>
                            <li class="mt-2"><a href="https://munakab.go.id/" class="text-muted">Pemda Kab. Muna</a></li>
                            <li class="mt-2"><a href="https://munabarat.go.id/main/" class="text-muted">Pemda Kab. Muna Barat</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="mt-5">
                            <p class="text-muted mt-4 text-center mb-0">© <script>document.write(new Date().getFullYear())</script> made with <span class="text-danger">&hearts;</span> by BPS Kabupaten Muna</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->


        <script src="{% static 'app-design/assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'app-design/assets/js/app.min.js' %}"></script>

        <!-- third party js -->
        <script src="{% static 'app-design/assets/js/vendor/apexcharts.min.js' %}"></script>
        <script src="{% static 'app-design/assets/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'app-design/assets/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="{% static 'app-design/assets/js/pages/demo.dashboard.js' %}"></script>

        {% block js-extender %}
        <script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>
        <script>
            function filterStatisticTables(e){
                if ($('#col-filter-statistics').hasClass('d-none')){
                    
                    $('#col-filter-statistics').removeClass('d-none')

                    $('#col-table-statistics').removeClass('col-sm-12')
                    $('#col-table-statistics').addClass('col-sm-9')
                }else{
                    $('#col-table-statistics').removeClass('col-sm-9')
                    $('#col-table-statistics').addClass('col-sm-12')
                    $('#col-filter-statistics').addClass('d-none')
                }
            }

            function filterStatisticDev(e){
                if ($('#col-filter-statistics-dev').hasClass('d-none')){
                    $('#col-table-statistics-dev').removeClass('col-sm-12')
                    $('#col-table-statistics-dev').addClass('col-sm-9')
                    $('#col-filter-statistics-dev').removeClass('d-none')
                    $("#col-filter-statistics-dev").show(2500);
                }else{
                    $('#col-table-statistics-dev').removeClass('col-sm-9')
                    $('#col-table-statistics-dev').addClass('col-sm-12')
                    $('#col-filter-statistics-dev').addClass('d-none')
                }
            }
            

        </script>
        {% endblock js-extender %}


    </body>
</html>
